#evidence-id {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: none;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        border-bottom: 1px solid black;
    }
    &:focus {
        outline: none;
        border-bottom: 2px solid black;
    }
    text-align: center;
}